body {
		background-color: lightblue;
	  }

h1, h2	{
			text-align: center;
			color: black;
			font-family: "Arial";
		}

p	{
		font-family: "Arial";
		color: black;
	}
	
ul, li	{
			font-family: "Arial";
			padding: 5px;
			margin-left: 20px;
		}

