# MassiveLogs
# Servei de generació massiva de logs

[Unit]
Description=The MassiveLogs service

[Service]
Type=simple

PIDFile=/var/run/massivelog.pid
ExecStart=/var/tmp/massivelogs/python/logpython.py

[Install]
WantedBy=multi-user.target
